.link{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    margin-top: 15px;
    font-weight: var(--font-bold);
    color: var(--color-yellow);
}
.link__img{
    width: 30px;
    height: 30px;
    margin-right: var(--spacing-small);
    object-fit: cover;
    object-position: center center;
    filter: invert(85%) sepia(78%) saturate(6354%) hue-rotate(347deg) brightness(97%) contrast(106%);
}